.column{
  width: 150px;
  border-bottom: solid lightgrey;

  text-align: center;
}
.headers{
  width: 152px;
  float: left;
  border-bottom: solid lightgrey;

  text-align: center;
}
.icon{
  width: 150px;
  float: right;
  border-radius: 100px;
}
body{
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 60px;
  border: solid #990000;
  border-width: 10px;
  border-radius: 50px;
}
h1{
  color: #990000;
}
.info{
  font-family: Interstate;
  color: grey;
  font-size: 25px;
}
.formy{
  border-radius: 5px;
  padding: 5px;
}