<h1> Welcome to Super Hamsters </h1>

<p class="info">We hope you find exactly what you're looking for in a hamster to adopt.</p>

  <table >
    <thead>
      <tr>
        <th class="headers" id="name">Name</th>
        <th class="headers" id="color">Color</th>
        <th class="headers" id="size">Size</th>
        <th class="headers" id="fluff">Fluff</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |hamsterUnit|}}
          {{index-hamster hamster=hamsterUnit}}
      {{/each}}
    </tbody>
  </table>


