<h1> Welcome to Super Hamsters </h1>

We hope you find exactly what you're looking for in a hamster to adopt.



  <table >
    <thead>
      <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Size</th>
        <th>Fluff</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |hamsterUnit|}}
          {{index-hamster hamster=hamsterUnit}}
      {{/each}}
    </tbody>
  </table>


